<navbar> </navbar>

<div class="searchBox">
    <i class="material-icons">search</i>
    <input  matInput placeholder="Search" id="listSearch"  (keyup)="applyFilter($event)"  />
</div>






<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort >
    class="mat-elevation-z8" >

        
  
      <!-- ID Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.symbol}} </mat-cell>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="orderDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.orderDate}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="transactionDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.transactionDate}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.quantity}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="exgPrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Exchange Price </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.exgPrice}} </mat-cell>
      </ng-container>
      
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  