table{
    margin-left: 180px;
    padding-top: 20px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    
}

td{
    
    padding: 10px 50px 10px 30px;
    border-top: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: center;
    
}

tr{
    margin-left: 40px;
}

tr:nth-child(even) {background-color: #d6cdcd;}

h2{
    margin-left: 600px;
}



thead{
    font-weight: bold;
}

 /* Search Bar Styling */
 .searchBox{
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  margin: 1rem auto;
  margin-bottom: 0;
  margin-left: 20%;
  /* border: 1px solid red; */
}

input[type=text]{
  position: relative;
  top:0;
  /* left:50px; */
  padding: 5px 10px 5px 50px;
  width: 10px;
  color: #525252;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  border:none;
  border-radius: 5px;
  transition: width 0.4s ease;
  outline: none;
  /* margin-top: 3rem; */
}

input:focus{
  width: 80%;
  box-shadow: 0 0 10px  #51bcfa;
 }

i{
  position: relative;
  left: 30px;
  /* top: 20px; */
  color: #fff;
  padding: 0.75rem;
  background-color: #9dd62c;
  border-radius: 50px;
  z-index: 1;
  cursor: pointer;
}


  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-left: 200px;
    width: 70%;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .mat-sort-header-container {
    align-items: center;
  }
  table {
    width: 80%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }  
  
  
  