<nav class = "topNav" id="navbar">
    <button class="icon" (click)="ngOnInit()" id="navMenu">Menu</button>
<ul>
    <li><app-navbar-link NavbarText="Portfolio" NavbarLink="https://fidelitycentral.fmr.com/home"></app-navbar-link></li>
    <li><app-navbar-link NavbarText="Activity" NavbarLink="https://www.myworkday.com/fmr/d/home.htmld"></app-navbar-link></li>
    <li><app-navbar-link NavbarText="Trade" NavbarLink="https://techworks.fmr.com/?utm_source=FidCentral&utm_medium=FidCentral-link&utm_campaign=Techworks3.0"></app-navbar-link></li>
    <li><app-navbar-link NavbarText="Preferences" NavbarLink="/preference"></app-navbar-link></li>
    
</ul>
</nav>