
<div id="mainPage">
    
    
    
    <div id="form">
        <br>
        <div id="header">Login Page</div>
        <div id="formBox">
            <div id="formGroup">
                <div>
                    <app-username-form-control  (usrVerify)="displayUserName($event)"></app-username-form-control>
                </div>
                <div>
                    <app-password-form-control (pwdVerify)="displayPassword($event)"></app-password-form-control>
                </div>
            </div>
            <div>
                <button class="button"  (click)="authenticate()">Log in</button>
            </div>
            <div id="forgotBox">
                <a href= "#">Forgot your password?</a> 

            </div>
            <div id="container-register">
                New Member?
                <a href="/registration">Register</a>
            </div>
        </div>
    </div>
    



</div>
