<navbar></navbar>
<div class="content">
  <div class="searchBox">
    <i class="material-icons" (click)="openSearch()">search</i>
    <input
      type="text"
      placeholder="Search"
      id="searchStocks"
      [(ngModel)]="searchTerm"
      (keyup)="applyFilter($event)"
    />
  </div>
  <mat-tab-group
    class="tabs"
    dynamicHeight
    mat-align-tabs="center"
    animationDuration="500ms"
    mat-stretch-tabs
  >
    <mat-tab label="Stocks" >
      <ng-template matTabContent>
        <div class="overview" *ngIf="portfolio">
          <mat-card id="card-overview">
            <div class="acc_overview">
              <mat-card-subtitle>Invested</mat-card-subtitle>
              <mat-card-title>{{
                invested | currency: "USD":true:".2-2"
              }}</mat-card-title>
            </div>
            <div class="acc_overview">
              <mat-card-subtitle>Current</mat-card-subtitle>
              <mat-card-title>{{
                current | currency: "USD":true:".2-2"
              }}</mat-card-title>
            </div>
            <div class="acc_overview">
              <mat-card-subtitle>Total Returns</mat-card-subtitle>
              <mat-card-title [style.color]="totalReturns > 0 ? 'green' : 'red'"
                >{{ totalReturns > 0 ? "+" : "" }}
                {{ totalReturns | currency: "USD":true:".2-2" }}</mat-card-title
              >
            </div>
          </mat-card>
        </div>

        <div class="container" *ngIf="portfolio">
          <mat-card *ngFor="let stock of portfolio ">
            <div>
              <mat-card-subtitle>
                <p class="values">{{ stock.quantity }} &nbsp;</p>
                <p>Qty</p>
              </mat-card-subtitle>
              <mat-card-title>{{ stock.name }}</mat-card-title> 
              <br />
              <mat-card-subtitle>
                <p>Invested &nbsp;</p>
                <p class="values">
                  {{ stock.purchasePrice | number: ".2-2" }}
                </p>
              </mat-card-subtitle>
            </div>
            <div>
              <p [style.color]="stock.gainPercentage > 0 ? 'green' : 'red'">
                {{ stock.gainPercentage > 0 ? "+" : ""
                }}{{ stock.gainPercentage }}%
              </p>
              <p
                id="price"
                [style.color]="stock.gainValue > 0 ? 'green' : 'red'"
              >
                {{ stock.gainValue > 0 ? "+" : ""
                }}{{ stock.gainValue | currency: "USD":true:".2-2" }}
              </p>
            </div>
          </mat-card>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
        <mat-card id="card-overview" class="no-stocks" *ngIf="!portfolio">
          <mat-card-title>How about we buy some stocks</mat-card-title>
        </mat-card>
      </ng-template>
    </mat-tab>

    <mat-tab label="Mutual Funds"> Content 2 </mat-tab>
    <mat-tab label="Gold Bonds"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
