<section>
  <div id="overview">
    <div class="values">
      <p>Invested</p>
      <h3>$1000</h3>
    </div>
    <div class="values">
      <p>Current</p>
      <h3>$1113</h3>
    </div>
    <div class="values">
      <p>Total Returns</p>
      <h3>$113</h3>
    </div>
  </div>

  <div id="info">
    <div class="stock">
      <div class="stock_info">
        <div id="quantity">
          <h5>2 &nbsp;</h5>
          <p>Qty</p>
        </div>
        <h3>HDFCBANK</h3>
        <div class="invested">
            <p>Invested &nbsp;</p>
            <h4>400.00</h4>
        </div>
      </div>
      <div class="returns">
        <h5>+26.5%</h5>
        <h4>+55.00</h4>
      </div>
    </div>
  </div>
</section>
