<navbar></navbar>
<div class="content">
  <div>
  <div class="searchBox">
    <i class="material-icons" (click)="openSearch()">search</i>
    <input
      type="text"
      placeholder="Search"
      id="searchStocks"
      [(ngModel)]="searchTerm"
    />
  </div>

  <div class="overview">
    <mat-card id="card-overview">
      <div class="acc_overview">
        <mat-card-subtitle>Invested</mat-card-subtitle>
        <mat-card-title>{{
          invested | currency: "USD":true:".2-2"
        }}</mat-card-title>
      </div>
      <div class="acc_overview">
        <mat-card-subtitle>Current</mat-card-subtitle>
        <mat-card-title>{{
          current | currency: "USD":true:".2-2"
        }}</mat-card-title>
      </div>
      <div class="acc_overview">
        <mat-card-subtitle>Total Returns</mat-card-subtitle>
        <mat-card-title [style.color]="totalReturns > 0 ? 'green' : 'red'"
          >{{ totalReturns > 0 ? "+" : "" }}
          {{ totalReturns | currency: "USD":true:".2-2" }}</mat-card-title
        >
      </div>
    </mat-card>
  </div>
</div>

  <div class="container">
    <mat-card *ngFor="let stock of obs | async | search: searchTerm">
      <div>
        <mat-card-subtitle>
          <p class="values">{{ stock.quantity }} &nbsp;</p>
          <p>Qty</p>
        </mat-card-subtitle>
        <mat-card-title>{{ stock.symbol }}</mat-card-title>
        <br />
        <mat-card-subtitle>
          <p>Invested &nbsp;</p>
          <p class="values">
            {{ stock.totalInvestment | number: ".2-2" }}
          </p></mat-card-subtitle
        >
      </div>
      <div>
        <p [style.color]="stock.percentChange > 0 ? 'green' : 'red'">
          {{ stock.percentChange > 0 ? "+" : "" }}{{ stock.percentChange }}%
        </p>
        <p id="price" [style.color]="stock.priceChange > 0 ? 'green' : 'red'">
          {{ stock.priceChange > 0 ? "+" : ""
          }}{{ stock.priceChange | currency: "USD":true:".2-2" }}
        </p>
      </div>
    </mat-card>
    <mat-paginator
      [pageSizeOptions]="[3, 5, 10]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
