#logo {
    margin: 0;
    width: 100%;
    background-color: #568200;
    color: #fff;
    font-family: 'Fidelity Sans', 'Arial', 'sans-serif';
    font-size: 32px;
    line-height: 1.5em;
}

#header-bar {
    margin: 0 auto;
    background-color: #568200;
    padding: 0.5rem 1rem;
    max-width: 100%;
}