.error {
    font-family: 'Fidelity Sans', Arial, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    display: none;
    text-align: center;
    color:  #DC1616;
  }
  label {
    display : block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    font-family: 'Fidelity Sans', Arial, sans-serif;
  }
  #textbox-id{
    width: 100%;
    line-height: 1.5em;
    font-size: 18px;
    display: block;
    box-sizing: border-box;
    padding: 0.25rem 1rem 0.25rem 1rem;
  border-radius: 5px;
  }
  