a {
    box-sizing: content-box;
    padding: 0.5rem 1rem;
    font-family: 'Fidelity Sans', 'Arial','sans-serif' ;
    font-size: 18px;
    line-height: 1.5em;
    text-decoration: none;
    color: #fff;
    border-right: 0.5px solid white;
  }

  a:hover {
    background-color: #000;
  }

  a:active {
    background-color: #000;
  }

