
.mat-card{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    padding-top: 1rem;
    margin-bottom: 1px;

  }
  
  .mat-card-title {
    font-size: 16px;
  }

  .table-header{
    background-color: #568200;
    min-height: 3rem;
    color: azure;
  }
  
  .col{
    flex-grow: 1;
  }
  