<footer class="bg-footer">
  <div class="container">
    <div>
      <h6 class="footer-heading text-uppercase text-white">Information</h6>
      <ul class="footer-link mt-4">
        <li><a href="#!">Sitemap</a></li>
        <li><a href="#!">Our team</a></li>
        <li><a href="#!">Terms of Services</a></li>
      </ul>
    </div>
    <div>
      <h6 class="footer-heading text-uppercase text-white">Help</h6>
      <ul class="footer-link mt-4">
        <li><a href="#!">Register</a></li>
        <li><a href="#!">Sign in</a></li>
        <li><a href="#!">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="footer-link">
      <h6 class="footer-heading text-uppercase text-white">Contact us</h6>
      <p class="contact-info mt-4">Need help ?</p>
      <p class="contact-info">+XX XX-XX-XX-XX-XX</p>
      <div>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#!"><i class="material-icons">chat</i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="material-icons">mail</i></a></li>
          <li class="list-inline-item"><a href="#!"><i class="material-icons">call</i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center mt-5">
    <p class="footer-alt">2022 © Society, All Rights Reserved</p>
  </div>
</footer>
