nav {
    max-width: 100%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #568200;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #111;
}