<div class="main">
  <div  class="login">
    <button>
      Login
    </button>
  </div>

  <div>
    <h3>Register</h3>
  </div>

  

  <div class="Form">
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
          <div>
              <label for="email"> Email ID </label>
              <input id="email" type="text" formControlName="email" required placeholder="abc@xyz.com" />
          </div>
          <div>
              <label for="password"> Password </label>
              <input id="password" type="password" formControlName="password" required placeholder="....." [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="!f['password'].errors['required']">Password is required</div>
              </div>
          </div>
          <div>
              <label for="passwordConfirm">Confirm Password </label>
              <input id="passwordConfirm" type="password" formControlName="passwordConfirm" required placeholder="....." [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
              <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                  <div *ngIf="!f['confirmPassword'].errors['required']">
                      Confirm Password is required
                  </div>
                  <div *ngIf="f['confirmPassword'].errors['matching']">
                      Confirm Password does not match
                  </div>
              </div>
          </div>
          <div>
              <label for="firstName"> First Name </label>
              <input id="firstName" type="text" formControlName="firstName" required placeholder="First Name " />
          </div>

          <div>
              <label for="lastName "> Last Name </label>
              <input id="lastName" type="text" formControlName="lastName " required placeholder="Last Name " />
          </div>

          <div>
              <label for="dob "> Date Of Birth </label>
              <input id="dob" type="text" formControlName="dob" required placeholder="Date Of Birth" />
          </div>

          <div>
              <label for="phoneNumber "> Phone Number </label>
              <input id="phoneNumber" type="text" formControlName="phoneNumber" required placeholder="0123456789" />
          </div>

          <div>
              <label for="riskAppetite"> Investment Risk Appetite </label>
              <input id="riskAppetite" type="text" formControlName="riskAppetite" required placeholder="1-5" />
          </div>

          <button class="button" type="submit" (click)="onReset()">Submit</button>
      </form>
  </div>
</div>

