
main {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
  flex-direction: column;
  margin-bottom: -5.5rem;
}

.circle1,
.circle2 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: linear-gradient(
    to right bottom,
    rgba(153, 250, 153, 0.9),
    rgba(195, 241, 203, 0.1)
  );
  position: absolute;
}
.circle1 {
  top: 1%;
  right: -5%;
}
.circle2 {
  bottom: 50%;
  left: -5%;
  z-index: 1;
}
.circle3{
  border-radius: 89% 11% 23% 77% / 54% 30% 70% 46% ;
  width: 30rem;
  height: 30rem;
  background: linear-gradient(
    to left bottom,
    rgba(153, 250, 153, 0.9),
    rgba(195, 241, 203, 0.1)
  );
  position: absolute;
  bottom: 10%;
  right: 0;
}
.content {
  width: 80%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 5rem;
}

.content .text h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  color: rgb(83, 83, 83);
  font-weight: 500;
  display: flex;
  height: 5rem;
  padding: 1.5rem 0;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  color: rgb(95, 95, 95);
  font-weight: 600;
  margin: 0rem 0 2rem 0;
}

 button {
  width: 13rem;
  height: 3rem;
  border: none;
  background-color: #04bd11;
  color: white;
  font-size: 1.25rem;
  border-radius: 5%;
}

.content2 button {
  width: 18rem;
}

button:hover {
  background-color: #47cc50;
  font-size: 1.3rem;
}

.content h1 div {
  position: relative;
  height: 3rem;
  width: auto;
  margin: 0rem 1.5rem;
  overflow: hidden;
  text-align: left;
}

.content h1 div ul {
  margin: 0;
  padding: 0;
  animation: animate 8s linear infinite;
}

.content h1 div ul li {
  list-style: none;
  margin: 0rem 0 3rem 0;
  letter-spacing: 0.1rem;
  color: rgb(253, 213, 82);
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(-10rem);
  }
}

.content .login {
  display: flex;
  margin-top: 1rem;
}

.content .login a{
  margin-left: 0.5rem;
  color: rgb(16, 117, 211);
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
}

.content .login a:hover{
  font-size: 1.25rem;
  font-weight: 500;
}
.content img {
  width: 450px;
  height: 350px;
  position: relative;
  bottom: 3.5rem;
}

.content2 {
  width: 80%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.content2 .text2 {
  margin-left:3rem ;
  position: relative;
  z-index: 2;
}
.content2 .text2 h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  color: rgb(78, 78, 78);
  font-weight: 600;
  display: flex;
  height: 5rem;
  padding: 1.5rem 0;
}

.content2 .text2 h1 p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: rgb(95, 95, 95);
  font-weight: 500;
  margin: 0.5rem 0 2rem 0.75rem;
}

