<main>
  <div class="content">
    <div class="text">
      <h1>Invest In
        <div>
          <ul>
          <li>Mutual Funds</li>
          <li>Stocks</li>
          <li>Gold Bonds</li>
        </ul>
      </div>
      </h1>
      <div>
        <p>Trusted by Millions. Start Investing Today.</p>
        <button routerLink="/registration">SignUp</button>
      </div>
      <div class="login">
        <p>Already a user?</p>
        <a routerLink="/login">Login</a>
      </div>

    </div>
    <div>
      <img src="../../assets/woman-investing-getting-profit_74855-11229.png" alt="Image">
    </div>
  </div>

  <div class="content2">
    <div>
      <img src="../../assets/Capture1.PNG">
    </div>
    <div class="text2">
      <h1>Zero
        <p>account charges</p>
      </h1>
      <div>
        <p>You don't have to pay a dollar for opening stocks account or account maintainence</p>
        <button routerLink="/registration">Create Account For Free</button>
      </div>
    </div>
  </div>
  <div class="circle1"></div>
  <div class="circle2"></div>
  <div class="circle3"></div>
</main>
