/**********************************************************************************
  Note: SCSS is a superset of CSS3 - normal CSS will work in this file. SCSS adds
  additional functionality such as variables and nesting.

  If interested, check out: https://sass-lang.com/guide for additional information.
***********************************************************************************/

#textinput {
  width: 100%;
  line-height: 1.5em;
  font-size: 18px;
  display: block;
  box-sizing: border-box;
  padding: 0.25rem 1rem 0.25rem 1rem;
border-radius: 5px;
}

.invalidUsername {
  font-size: 0.8em;
  font-weight: bold;
  color: #DC1616;
  font-family: 'Fidelity Sans', 'Arial', sans-serif;
  text-align: center;
}

input[type=password]:focus {
  outline: none !important;
 
  
}

input[type=password] {
  outline: none !important;
 
  
}